trigger:
- master

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'b38c0a55-0df4-48d3-99b3-c917755da08f'
  imageRepository: 'netboxdocker'
  containerRegistry: 'tinfoilregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: DockerCompose@0
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: 'tinfoilcipher(5a276f10-4ae1-4943-8c23-463409a3374c)'
        azureContainerRegistry: '{"loginServer":"tinfoilregistry.azurecr.io", "id" : "/subscriptions/5a276f10-4ae1-4943-8c23-463409a3374c/resourceGroups/tinfoil_logic_rg/providers/Microsoft.ContainerRegistry/registries/tinfoilregistry"}'
        dockerComposeFile: '**/docker-compose.yml'
        action: 'Run a Docker Compose command'
        dockerComposeCommand: 'pull'
    
    - task: DockerCompose@0
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: 'tinfoilcipher(5a276f10-4ae1-4943-8c23-463409a3374c)'
        azureContainerRegistry: '{"loginServer":"tinfoilregistry.azurecr.io", "id" : "/subscriptions/5a276f10-4ae1-4943-8c23-463409a3374c/resourceGroups/tinfoil_logic_rg/providers/Microsoft.ContainerRegistry/registries/tinfoilregistry"}'
        dockerComposeFile: '**/docker-compose.yml'
        action: 'Run a Docker Compose command'
        dockerComposeCommand: 'up'